@font-face {
  font-family: Traten;
  src: url("../fonts/traten__.ttf"); }

.content {
  color: #FFFFFF;
  margin-top: 1.5%;
  width: 84%;
  text-align: center;
  margin: 1.5% auto auto auto; }

@media screen and (max-width: 1450px) {
  .content .col-md-6 {
    padding-left: 0px !important;
    padding-right: 0px !important; } }

@media screen and (max-width: 768px) {
  .jumbotron-typography {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    height: 40em; }
  .jumbotron-typography-small-text {
    font-size: 2em; }
  .jumbotron-typography-big-text-style {
    font-size: 10rem; } }

.jumbotron-typography {
  background-color: #9ab4b3;
  color: #FFFFFF;
  text-align: center;
  padding-top: 10em;
  font-size: 1vw; }

.jumbotron-typography-big-text {
  border-bottom: 2px solid #FFFFFF;
  width: 10%;
  position: absolute;
  left: 45%;
  margin-top: 2vw; }

.jumbotron-typography-big-text-style {
  font-family: arial;
  font-size: 4em;
  font-weight: lighter;
  letter-spacing: 0.2em; }

.image-cards-content {
  margin-top: 1vw; }

.image-cards {
  padding: 0px;
  border: 0px solid #000; }
  .image-cards img {
    object-fit: cover;
    object-position: -50% 25%;
    padding-left: 0.80vw;
    width: 100%;
    height: 500px;
    z-index: -1; }

.image-cards-text {
  color: #a3a3a3;
  background-color: #FFF;
  left: 15px !important;
  display: block;
  position: absolute;
  width: 90%;
  height: 10em;
  z-index: 500;
  margin-top: 18rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2%; }

.image-cards-text-content {
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 100%; }

.image-cards-title {
  color: #9ab4b3;
  font-family: arial;
  letter-spacing: 0.2em;
  font-size: 1.2em;
  margin-top: 2rem; }

.image-cards-small-text {
  color: #a3a3a3;
  font-family: "Times New Roman";
  margin-top: 1rem;
  letter-spacing: 0.15em; }

@media screen and (max-width: 1200px) {
  .image-cards img {
    object-fit: cover;
    object-position: -50% 25%;
    padding-left: 0vw;
    padding-bottom: 1em;
    width: 100%;
    height: 300px;
    z-index: -1; }
  .image-cards-text {
    margin-top: 5%; } }
