@font-face {
  font-family: Traten;
  src: url("../fonts/traten__.ttf"); }

.content-bottom {
  margin-top: 1.5%;
  width: 84%;
  text-align: center;
  margin: 1.5% auto auto auto; }

.content-bottom-heading {
  letter-spacing: 0.2em;
  font-weight: 500;
  margin-top: 5%;
  font-size: 1.2em;
  margin-bottom: 1.25%; }

.content-bottom-small-slanted-text {
  letter-spacing: 0.2em;
  font-weight: 500;
  font-size: 0.9em;
  font-family: "Times New Roman";
  margin-bottom: 5%;
  font-style: italic;
  color: #a3a3a3; }

.products {
  padding: 0px;
  border: 0px solid #000; }
  .products img {
    object-fit: cover;
    object-position: center 55%;
    padding-left: 0.80vw;
    width: 100%;
    height: 430px;
    margin-bottom: 12rem; }

.product-cards-content {
  position: relative;
  top: 30rem;
  margin-bottom: 30%; }

.product-cards-name {
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 0.2vw;
  padding-bottom: 2rem; }

.product-cards-price {
  color: #a3a3a3;
  font-family: "Times New Roman";
  letter-spacing: 0.05vw; }

.blue {
  color: #99bcdf; }

.crossed-out {
  text-decoration: line-through; }

.sale {
  text-align: center center;
  top: -5%;
  left: 50%;
  position: absolute;
  background-color: #000;
  width: 50px;
  height: 50px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  color: #FFF;
  font-style: italic;
  font-family: "Times New Roman";
  padding-top: 4.5%; }

@media screen and (max-width: 1200px) {
  .sale {
    left: 90%;
    padding-top: 2%; } }
