@font-face {
  font-family: Traten;
  src: url("../fonts/traten__.ttf"); }

.container-fluid, .col-xl {
  border: 0px solid #000; }

.footer {
  margin-top: 5%; }

.footer-navigation {
  font-family: "Times New Roman";
  padding: 1%;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 1.15em;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 2%; }

.footer-navigation-link {
  letter-spacing: 0.15rem; }
  .footer-navigation-link a {
    color: #a3a3a3; }
  .footer-navigation-link a:hover {
    color: #a3a3a3; }

.footer-social-media {
  padding: 1%;
  padding-right: 5%;
  text-align: center;
  margin-bottom: 2%; }

.footer-social-media-icon img {
  padding-left: 5vw; }

.footer-copyright {
  text-align: center; }

.copyright-year {
  color: #a3a3a3;
  letter-spacing: 0.12em;
  font-weight: 500;
  margin-bottom: 1%; }

.made-in-yorkshire {
  font-family: "Times New Roman";
  font-style: italic;
  letter-spacing: 0.15em;
  font-weight: 500;
  font-size: 1.25em;
  margin-bottom: 2%; }
