@font-face {
  font-family: Traten;
  src: url("../fonts/traten__.ttf"); }

@font-face {
  font-family: Traten;
  src: url("../fonts/traten__.ttf"); }

.header {
  font: Traten;
  border-bottom: 2px solid #e5e5e5;
  border-width: 20%;
  color: #000000;
  margin-top: 1%;
  padding-bottom: 1%;
  letter-spacing: 0.2vw;
  text-align: center; }

.header-navigation {
  margin-top: 2%;
  font-size: 0.8em;
  text-align: center;
  line-height: 1vw;
  letter-spacing: 0.2vw; }
  .header-navigation a {
    color: #000000; }
  .header-navigation a:hover {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px; }

@font-face {
  font-family: Traten;
  src: url("../fonts/traten__.ttf"); }

.content {
  color: #FFFFFF;
  margin-top: 1.5%;
  width: 84%;
  text-align: center;
  margin: 1.5% auto auto auto; }

.jumbotron-typography {
  background-color: #9ab4b3;
  color: #FFFFFF;
  text-align: center;
  padding-top: 10%;
  font-size: 1vw; }

.jumbotron-typography-small-text {
  font-family: "Times New Roman";
  font-size: 1em;
  font-style: italic;
  margin-bottom: 2vw; }

.jumbotron-typography-big-text {
  border-bottom: 2px solid #FFFFFF;
  width: 10%;
  position: absolute;
  left: 45%;
  margin-top: 2vw; }

.jumbotron-typography-big-text-style {
  font-family: arial;
  font-size: 4em;
  font-weight: lighter;
  letter-spacing: 0.2em; }

.image-cards-content {
  margin-top: 1vw; }

.image-cards {
  padding: 0px;
  border: 0px solid #000; }
  .image-cards img {
    object-fit: cover;
    object-position: -50% 25%;
    padding-left: 0.80vw;
    width: 100%;
    height: 500px;
    z-index: -1; }

.image-cards-text {
  color: #a3a3a3;
  background-color: #FFF;
  left: 15px !important;
  display: block;
  position: absolute;
  max-width: 90%;
  max-height: 12em;
  z-index: 500;
  margin-top: 53%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%; }

.image-cards-text-content {
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 100%; }

.image-cards-title {
  color: #9ab4b3;
  font-family: arial;
  letter-spacing: 0.2em;
  font-size: 1.2em;
  margin-top: 10%; }

.image-cards-small-text {
  color: #a3a3a3;
  font-family: "Times New Roman";
  margin-top: 10%;
  letter-spacing: 0.15em; }

@font-face {
  font-family: Traten;
  src: url("../fonts/traten__.ttf"); }

.content-bottom {
  margin-top: 1.5%;
  width: 84%;
  text-align: center;
  margin: 1.5% auto auto auto; }

.content-bottom-heading {
  letter-spacing: 0.2em;
  font-weight: 500;
  margin-top: 5%;
  font-size: 1.2em;
  margin-bottom: 1.25%; }

.content-bottom-small-slanted-text {
  letter-spacing: 0.2em;
  font-weight: 500;
  font-size: 0.9em;
  font-family: "Times New Roman";
  margin-bottom: 5%;
  font-style: italic;
  color: #a3a3a3; }

.products {
  padding: 0px;
  border: 0px solid #000; }
  .products img {
    object-fit: cover;
    object-position: center 55%;
    padding-left: 0.80vw;
    width: 100%;
    height: 430px;
    z-index: -1;
    margin-bottom: 20%; }

body {
  font: 100% Arial;
  color: #000; }
