@import 'variables';

.content-bottom {
	margin-top: 1.5%;
	width: 84%;
	text-align: center;
	margin: 1.5% auto auto auto;
}

$spacing: 5%;

.content-bottom-heading {
	letter-spacing: 0.2em;
	font-weight: 500;
	margin-top: $spacing;
	font-size: 1.2em;
	margin-bottom: 1.25%;
}

.content-bottom-small-slanted-text {
	letter-spacing: 0.2em;
	font-weight: 500;
	font-size: 0.9em;
	font-family: $tnr;
	margin-bottom: $spacing;
	font-style: italic;
	color: #a3a3a3;
}

.products {
	padding: 0px;
	border: 0px solid #000;

	img {
		object-fit: cover;
		object-position: center 55%;
		padding-left: 0.80vw;
	 	width: 100%;
	  	height: 430px;

	  	margin-bottom: 12rem;
  	}
}

.product-cards-content {
	position: relative;
	top: 30rem;
	margin-bottom: 30%;
}

.product-cards-name {
	font-family: sans-serif;
	font-weight: 600;
	letter-spacing: 0.2vw;
	padding-bottom: 2rem;
}

.product-cards-price {
	color: #a3a3a3; 
	font-family: $tnr;
	letter-spacing: 0.05vw;
}

.blue {
	color: #99bcdf;
}

.crossed-out {
	text-decoration: line-through;
}

.sale {
	$circle-roudness: 100%;
	$circle-dimensions: 50px;
	text-align: center center;
	top: -5%;
	left: 50%;
	position: absolute;
	background-color: #000;
	width: $circle-dimensions;
    height: 50px;
    -moz-border-radius: $circle-roudness; 
    -webkit-border-radius: $circle-roudness; 
    border-radius: $circle-roudness;
	color: #FFF;
	font-style: italic;
	font-family: $tnr;
	padding-top: 4.5%;
}

@media screen and (max-width: 1200px) {
	.sale {
		left: 90%;
		padding-top: 2%;
	}

	.products {
		
	}
}